* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(24, 28, 37);
    color: #ffffff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.3);
}

.logo-nav {
    height: 300px;
}

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin-left: auto;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 2rem;
    padding: 2rem;
}

section {
    margin: 4rem;
    text-align: center;
}

h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.servicios-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin-top: 2rem;
}

.servicio {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}